.chat {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 450px !important;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.messages {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  background-color: #ecedf1;
  overflow-y: scroll;
}

.send {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  background-color: white;
}

.user-msg {
  display: flex;
  justify-content: flex-start;
  background-color: #0085fe;
  color: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 40%;

}

.from-chatbox > p {
  display: flex;
  justify-content: flex-start;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 10px;
  max-width: 40%;
}

.from-user {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.from-chatbox {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.send > input {
  display: flex;
  height: 100%;
  width: 90%;
}

.send > button {
  display: flex;
  width: 10%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  background-color: #0085fe;
  color: white;
  outline: none;
}

.material-icons {
  color: white;
}

.msg-title {
  color: white;
  font-size: 1.5em;
  margin: 10px 0;
}

.txt-msg {
  width: 97%;
} 

.MuiFormControl-root {
  padding: 10px !important;
}